/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(
    180deg,
    #fff 0%,
    #b9b9b9 33%,
    #858585 61%,
    #363636 100%
  );
}

.home-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

#my-photo {
  width: 457px;
  height: 449px;
  border-radius: 50%;
  opacity: 1;
}

.home-container {
  flex: 2;
  padding-left: 40px;
}

#hello-word {
  text-align: right;
  font-size: 74px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 50px;
}

.my-text {
  font-family: "Bebas Neue";
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  text-align: right;
  font-size: 90px;
}

h2 {
  text-align: left;
  color: #000;
  font-size: 40px;
  font-weight: 400;
}

#summery {
  font-family: "Abhaya Libre Medium";
  text-align: center;
  font-size: 24px;
  margin-top: 50px;
}

#thanks {
  display: block;
  margin-top: 10px;
}

.social-container {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-top: 20px;
}

.download {
  width: 149px;
  height: 47px;
  border-radius: 30px;
  background: white;
  box-shadow: 0px 0px 7px 0px #b336ff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 100px;
}

.download-text {
  display: flex;
  align-items: center;
  color: #000;
}

.social-icons {
  display: flex;
  gap: 25px;
}

.header {
  height: 85px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #fff;
  box-shadow: 0 -8px 26px #b336ff;
  padding: 0 20px;
  margin-top: -16px;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.navigation-bar {
  display: flex;
  align-items: center;
}

.welcome {
  color: gray;
  font-size: 30px;
  padding-right: 58px;
}

.navigation-links {
  display: flex;
  gap: 50px;
  margin-left: 125px;
}

.navigation-links li {
  display: inline-flex;
}

.navigation-links a {
  color: #000;
  text-decoration: none;
  font-size: 25px;
}

footer {
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #fff;
  box-shadow: 0 -4px 4px #4f4b52;
  padding: 0 20px;
  margin: 80px -8px -8px -8px;
  position: relative;
  bottom: 0;
  z-index: 1000;
}

.thanks {
  margin: 0;
  text-align: center;
  flex: 1;
  color: #000; 
}

.copyright {
  position: absolute;
  top: calc(100% - 80px);
  right: 20px;
  margin: 0;
  font-family: "Times New Roman";
  font-size: 10px;
  color: #fff;
} */
