/*----------------- Hero Section ---------------------*/
@media screen and (min-width: 426px) and (max-width: 768px) {
  .hero-section {
    flex-direction: column;
    align-items: center;
  }
  header {
    font-size: 1.5rem;
    padding-right: 50px;
  }

  nav > ul > li {
    margin: 0 20px;
    font-size: 1.5rem;
    animation: fadeIn 0.5s ease;
  }

  #my-photo {
    width: 300px;
    height: 300px;
    margin-right: 400px;
    margin-top: 60px;
  }

  #hello-word {
    position: absolute;
    top: 80px;
    left: 400px;
    font-size: 3.5rem;
    font-weight: 300;
    white-space: nowrap;
  }

  #my-name {
    position: absolute;
    top: 200px;
    left: 370px;
    font-size: 3.5rem;
    font-weight: 300;
    display: inline-block;
    white-space: nowrap;
    letter-spacing: 0.2rem;
  }

  .about-myself {
    position: absolute;
    top: 270px;
    left: 450px;
    display: block;
    font-size: 0.9rem;
    text-align: left;
    margin-top: 20px;
    row-gap: 20px;
  }

  .about-myself p {
    margin-bottom: 20px;
  }

  .about-me {
    display: block;
    font-size: 3rem;
    font-family: "Bebas Neue";
    font-weight: 400;
    text-align: left;
    padding: 0;
  }

  #summery {
    font-size: 1.2rem;
    max-width: 1000px;
    line-height: 2;
    margin-right: 75px;
  }

  .download {
    width: 150px;
    height: 35px;
    margin-left: 0px;
  }

  .download-text {
    font-size: 0.8rem;
  }
  .social-icons {
    gap: 30px;
  }

  .social-icons img {
    font-size: 40px;
    width: 40px;
    height: 40px;
  }

  /* ---------------Qualification------------------ */
  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .qualification {
    font-size: 3rem;
  }

  .education,
  .employment {
    margin-left: 70px;
    width: 70%;
  }

  .sub-heading {
    padding-left: 0;
    font-size: 2rem;
  }

  /* skill */

  .skills-grid {
    flex-direction: column;
    align-items: center;
  }

  .frontend,
  .backend {
    width: 100%;
    margin-bottom: 20px;
  }

  .progress-bar {
    width: 100%;
    height: 15px;
  }

  .skill-info {
    margin-bottom: 20px;
  }

  /* project */

  .project-content {
    flex-direction: column;
    align-items: center;
  }

  .project-image img {
    /* margin-bottom: 20px; */
    margin: 0;
    width: 100%;
    max-width: 500px;
    margin-left: 100px;
  }

  .project-description {
    margin-top: 20px;
    text-align: center;
    margin-left: 150px;
  }

  /* contact */
  .contact-section {
    flex-direction: column;
    align-items: flex-start;
  }

  .contact-info,
  .contact-form {
    width: 100%;
    align-items: center;
    margin-top: 0px;
  }

  .contact-form {
    margin-top: 20px;
  }
}

@media (max-width: 1024px) {
  .hero-section {
    flex-direction: column;
    align-items: center;
  }

  header {
    font-size: 2rem;
    padding-right: 50px;
  }

  nav > ul > li {
    margin: 0 20px;
    font-size: 2rem;
    animation: fadeIn 0.5s ease;
  }

  /* project */
  .project-image img {
    margin-bottom: 10px;
    margin-left: 20px;
  }
  * .project-description {
    text-align: center;
    max-width: 500px;
    margin-top: 100px;
    margin-left: 100px;
  }

  /* contact */
  .get {
    margin-bottom: 100px;
  }

  .contact-info {
    margin-right: 100px;
  }
  .contact-info,
  .contact-form {
    width: 300px;
  }

  .contact-form {
    margin-top: 20px;
  }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .hero-section {
    flex-direction: column;
    align-items: center;
  }

  #burger {
    display: block;
    cursor: pointer;
    font-size: 1.875rem;
    color: black;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  nav ul {
    display: none;
  }

  .menu-panel {
    display: none;
    background-color: #b9b9b9;
    height: 75vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding-top: 60px;
  }

  .menu-panel.active {
    display: block;
  }

  .menu-panel ul {
    list-style-type: none;
    padding: 20px;
  }

  .menu-panel ul li {
    display: block;
    margin: 20px 0;
    font-size: 1.5rem;
  }

  .close-btn {
    font-size: 3.125rem;
    position: absolute;
    top: 10px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
  }

  #my-photo {
    width: 200px;
    height: 200px;
    margin-top: 60px;
    margin-right: 50px;
  }

  #hello-word {
    font-size: 2rem;
    margin-bottom: 420px;
    margin-right: 220px;
  }

  #my-name {
    font-size: 2rem;
    margin-top: -400px;
    margin-right: 220px;
  }

  .about-myself {
    margin-top: 0;
    margin-right: 200px;
    display: block;
    font-size: 1rem;
    text-align: center;
    row-gap: 20px;
  }

  #summery {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 0.95rem;
    line-height: 2;
    padding-left: 100px;
    max-width: 420px;
    margin-right: 160px;
  }
  .download {
    width: 90px;
    margin-left: 120px;
    height: 30px;
  }

  .download-text {
    font-size: 0.5rem;
    padding-right: -20px;
  }

  .social-icons {
    gap: 5px;
    margin-right: 170px;
  }

  .social-icons img {
    font-size: 40px;
    width: 40px;
    height: 40px;

    margin-right: 0px;
  }

  .container {
    display: flex;
    justify-content: space-between;
  }

  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .education,
  .employment {
    margin-left: 70px;
    width: 70%;
  }

  .sub-heading {
    padding-left: 0;
  }

  .frontend,
  .backend {
    margin-left: 100px;
    width: 80%;
  }

  .skills-grid {
    flex-direction: column;
    align-items: flex-start;
  }

  .frontend,
  .backend {
    width: 50%;
    margin-bottom: 20px;
  }

  .project-content {
    flex-direction: column;
    align-items: center;
  }

  .project-image img {
    margin: 0;
    width: 40%;
    max-width: 400px;
    margin-right: 400px;
  }

  .project-description {
    margin-top: 20px;
    text-align: center;
    margin-right: 500px;
  }

  .contact-section {
    flex-direction: column;
    align-items: flex-start;
  }

  .contact-info,
  .contact-form {
    width: 100%;
    align-items: center;
    margin-top: 0px;
  }

  .contact-form input,
  .contact-form textarea {
    margin: 10px;
    width: 300px;
  }

  .contact-form {
    margin-top: 20px;
  }
}
